.div {
    max-width: 400px;
    width: 400px;
    min-width: 400px;
    border-style: groove;
    border-color: #282c34;
    border-width: thin;
    margin-bottom: 5px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    direction: rtl;
}

.contents {
    direction:ltr;
}

.header {
    border-bottom-style: groove;
    border-bottom-color: #282c34;
    border-bottom-width: thin;
    padding: 0;
    margin: 0;
    background-color: #7f7f7f;
}