.div {
    max-width: 400px;
    height: 100vh;
    border-style: groove;
    border-color: #282c34;
    border-width: thin;
    margin-bottom: 5px;
}

.header {
    border-bottom-style: groove;
    border-bottom-color: #282c34;
    border-bottom-width: thin;
    padding: 0;
    margin: 0;
    background-color: #7f7f7f;
}