.container {
    display: inline-flex;
}

.arrow {
    min-height: 100%;
    min-width: 100px;
    margin-left: 18px;
    margin-top: auto;
    margin-bottom: auto;
}

.result {
    min-height: 100%;
    margin: auto;
}